/* Navbar Header */
.header {
  background-color: rgba(30, 30, 30, 0.8); /* Dark background to match sidebar */
  position: sticky;
  top: 0;
  z-index: 1000;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #e2e8f0;
}

/* Navbar Container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Flexbox for Logo and Brand Name */
.logoNameContainer {
  display: flex;
  align-items: center; /* Align logo and text vertically */
  justify-content: flex-start;
}

/* Logo Image Styling */
.logoImage {
  height: 80px; /* Increase logo size */
  max-width: 100%; /* Ensure the logo fits within available space */
  margin-right: 15px; /* Add some space between the logo and text */
}

/* Brand Name Container */
.brandNameContainer {
  display: flex;
  flex-direction: column;
}

/* "Dhananjana" - in white */
.brandName {
  font-size: 2.5rem; /* Larger font size for "Dhananjana" */
  font-family: 'Georgia', serif; /* Classic Serif font */
  color: #ffffff; /* White color */
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1rem; /* Increase letter spacing for luxury feel */
}

/* "Hotel" - in gold */
.hotelName {
  font-size: 1.5rem; /* Slightly larger font size for "Hotel" */
  font-family: 'Georgia', serif;
  color: #EFBF04; /* Gold color */
  text-transform: uppercase;
  letter-spacing: 0.15rem; /* Larger letter spacing for a more spaced look */
  margin-top: -5px; /* Slight negative margin to pull it closer to "Dhananjana" */
}

/* User Menu */
.userMenu {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
}

.userAvatar {
  border: 2px solid #27ae61;
}

/* Dropdown Icon */
.dropdownIcon {
  color: #ffffff;
}

/* Button Group for Log In and Sign Up */
.buttonGroup {
  display: flex;
  gap: 1rem;
}

/* Buttons Styling */
.button {
  font-size: 1rem;
  font-weight: 500;
  color: #27ae61;
  border: 1px solid #27ae61;
  transition: background-color 0.3s, color 0.3s;
}

.button:hover {
  background-color: #27ae61;
  color: #fff;
}


.logoLink {
  text-decoration: none;
  display: flex;
  align-items: center;
}

/* Media Query for Responsive Design */
@media (max-width: 768px) {
  .container {
      padding: 1rem;
  }

  .logoImage {
      height: 70px; /* Slightly smaller logo for mobile devices */
  }

  .brandName {
      font-size: 2rem; /* Adjust brand name font size for smaller screens */
  }

  .hotelName {
      font-size: 1.2rem;
  }
}
